Parametri di configurazione assi 20.0
NUMERO ASSE
0
CA_AXPRESEN
1
CA_TIPMOT
1
CA_TIPOTAR
0
CA_NUMSCHED
1
CA_NUMENC
1
CA_NUMSCHEDDAC
1
CA_NUMDAC
1
CA_NUMDEC
2
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
9
CA_FCAVBIT
9
CA_FCINREG
9
CA_FCINBIT
9
CA_ABILREG
2
CA_ABILBIT
14
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
1
CA_AXPRESEN
1
CA_TIPMOT
1
CA_TIPOTAR
0
CA_NUMSCHED
1
CA_NUMENC
2
CA_NUMSCHEDDAC
1
CA_NUMDAC
2
CA_NUMDEC
2
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
9
CA_FCAVBIT
9
CA_FCINREG
9
CA_FCINBIT
9
CA_ABILREG
2
CA_ABILBIT
15
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
2
CA_AXPRESEN
1
CA_TIPMOT
0
CA_TIPOTAR
0
CA_NUMSCHED
1
CA_NUMENC
3
CA_NUMSCHEDDAC
1
CA_NUMDAC
3
CA_NUMDEC
2
CA_DIRAZZ
0
CA_AXCOPPIA
1
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
4
CA_FCINREG
0
CA_FCINBIT
5
CA_ABILREG
1
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
1
CA_INVELBIT
4
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
3
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
4
CA_AXPRESEN
1
CA_TIPMOT
0
CA_TIPOTAR
0
CA_NUMSCHED
1
CA_NUMENC
4
CA_NUMSCHEDDAC
1
CA_NUMDAC
4
CA_NUMDEC
1
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
6
CA_FCINREG
0
CA_FCINBIT
7
CA_ABILREG
1
CA_ABILBIT
1
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
1
CA_INVELBIT
5
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
5
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
6
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
2
CA_NUMENC
1
CA_NUMSCHEDDAC
2
CA_NUMDAC
1
CA_NUMDEC
2
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
3
CA_FCAVBIT
0
CA_FCINREG
3
CA_FCINBIT
1
CA_ABILREG
1
CA_ABILBIT
2
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
1
CA_INVELBIT
6
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
7
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
2
CA_NUMENC
2
CA_NUMSCHEDDAC
2
CA_NUMDAC
2
CA_NUMDEC
2
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
3
CA_FCAVBIT
2
CA_FCINREG
3
CA_FCINBIT
3
CA_ABILREG
1
CA_ABILBIT
3
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
1
CA_INVELBIT
7
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
8
CA_AXPRESEN
0
CA_TIPMOT
2
CA_TIPOTAR
9
CA_NUMSCHED
2
CA_NUMENC
1
CA_NUMSCHEDDAC
1
CA_NUMDAC
4
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
1
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
1
CA_ABILREG
1
CA_ABILBIT
3
CA_AVVELREG
1
CA_AVVELBIT
6
CA_AVLENREG
1
CA_AVLENBIT
6
CA_INVELREG
1
CA_INVELBIT
7
CA_INLENREG
1
CA_INLENBIT
7
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
3
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
9
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
10
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
11
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
12
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
13
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
14
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
15
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
16
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
17
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
18
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
19
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
20
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
21
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
22
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
23
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
24
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
25
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
26
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
NUMERO ASSE
27
CA_AXPRESEN
0
CA_TIPMOT
0
CA_TIPOTAR
9
CA_NUMSCHED
0
CA_NUMENC
0
CA_NUMSCHEDDAC
0
CA_NUMDAC
0
CA_NUMDEC
0
CA_DIRAZZ
0
CA_AXCOPPIA
0
CA_TIPORECG
0
CA_NUMVEL
0
CA_FCAVREG
0
CA_FCAVBIT
0
CA_FCINREG
0
CA_FCINBIT
0
CA_ABILREG
0
CA_ABILBIT
0
CA_AVVELREG
0
CA_AVVELBIT
0
CA_AVLENREG
0
CA_AVLENBIT
0
CA_INVELREG
0
CA_INVELBIT
0
CA_INLENREG
0
CA_INLENBIT
0
CA_FRENOREG
0
CA_FRENOBIT
0
CA_AXSIMULA
1
CA_MODOFUNZ
0
CA_INVANAL
0
CA_INVCONT
0
